In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
#컬럼 한꺼번에보기
from IPython.display import display
pd.options.display.max_columns = None
import platform
platform.system()

# 운영체제별 한글 폰트 설정
if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False) # 마이너스 폰트 설정


# 글씨 선명하게 출력하는 설정
%config InlineBackend.figure_format = 'retina'

In [19]:
df = pd.read_csv('dataset/LMEMBERS_T7.csv')
df.head()

,Unnamed: 0,CUST_NO,GENDER,AREA,SHOP_A_CNT,SHOP_B_CNT,SHOP_C_CNT,RECEIPT_CNT,STORE_CNT,AM_CNT,PM_CNT,OT_CNT,AM_AMT,PM_AMT,OT_AMT,Q1401_AMT,Q1402_AMT,Q1403_AMT,Q1404_AMT,Q1501_AMT,Q1502_AMT,Q1503_AMT,Q1504_AMT,Y14_AMT,Y15_AMT,주류_CNT,육류_CNT,간식류_CNT,건강식품_CNT,농산물_CNT,수산물_CNT,식사류반찬_CNT,음료_CNT,Alcohol_AMT,Meat_AMT,Snack_AMT,Health_AMT,FarmF_AMT,SeaF_AMT,SideF_AMT,Drink_AMT,COMPETITOR,MEMBERSHIP,ON_LINE,MOBILE,TOTAL_AMT,AGE_CAT,TOTAL_AMT_CAT,AM_PM_AMT,AM_PCT,PM_PCT,SHOP_T_A,SHOP_T_B,SHOP_T_C,14_15_Q1,14_15_Q2,14_15_Q3,14_15_Q4,14_15_T1,14_15_T2,14_15_T3,14_15_T4,CAT_T주류,CAT_T육류,CAT_T간식류,CAT_T건강식품,CAT_T농산물,CAT_T수산물,CAT_T식사류반찬,CAT_T음료,Alcohol_AMT_CAT,Meat_AMT_CAT,Snack_AMT_CAT,Health_AMT_CAT,FarmF_AMT_CAT,SeaF_AMT_CAT,SideF_AMT_CAT,Drink_AMT_CAT,AGE,ADDR,AMP_PCT,PMP_PCT
0,0,1,M,2,506,44,101,326,9,402,249,0,7999193,3896727,0,1765020,2982185,1182800,1905392,1747845,1153940,584270,574468,7835397,4060523,10,32,221,9,210,49,75,42,263750,684741,3246090,3084870,2502759,871740,725300,448970,1,0,0,0,11895920,60s이상,80_100퍼구매금액군,1,61.75,38.25,1.0,0.0,0.0,3512865,4136125,1767070,2479860,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,40_60p,80_100p,80_100p,60_80p,20p,60_80p,40_60p,60세이상,서울 강남구,67.24,32.76
1,1,2,M,1,711,0,0,346,2,529,182,0,11786840,3175020,0,2907240,2446790,1844100,1835670,1903230,940500,1352190,1732140,9033800,5928060,26,44,162,3,358,43,51,24,152440,884510,2711870,354750,7559400,1782520,865770,650600,1,0,0,0,14961860,60s이상,80_100퍼구매금액군,1,74.40,25.60,1.0,0.0,0.0,4810470,3387290,3196290,3567810,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,40_60p,40_60p,80_100p,60_80p,80_100p,40_60p,60_80p,40_60p,60세이상,경기 김포시,78.78,21.22
2,2,3,M,2,0,1,1027,468,3,971,57,0,2649181,151846,0,302182,446083,573288,332446,255880,282380,364157,244611,1653999,1147028,483,15,97,0,184,31,55,163,687620,107945,273750,0,706792,212790,255880,556250,0,0,0,0,2801027,60s이상,20퍼구매금액군,1,94.46,5.54,0.0,0.0,1.0,558062,728463,937445,577057,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,80_100p,20p,20p,20p,20p,20p,20_40p,40_60p,60세이상,서울 은평구,94.58,5.42
3,3,4,F,2,498,91,127,383,4,533,183,0,4253139,1506441,0,597753,1016133,497890,363920,926382,878445,703252,775805,2475696,3283884,7,26,210,8,285,14,112,54,31140,307526,1800600,173900,1942124,115900,1084660,303730,1,0,0,0,5759580,60s이상,20_40퍼구매금액군,1,74.44,25.56,1.0,0.0,0.0,1524135,1894578,1201142,1139725,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,40_60p,60_80p,60_80p,20p,60_80p,20_40p,60세이상,서울 노원구,73.84,26.16
4,4,5,M,1,633,1,0,368,2,441,193,0,6478630,1887660,0,1787460,1508600,1027940,398440,1171780,802450,0,1669620,4722440,3643850,28,9,320,17,206,25,3,26,276290,168850,3660700,2277230,1230530,350740,63750,338200,0,0,0,0,8366290,60s이상,60_80퍼구매금액군,1,69.56,30.44,1.0,0.0,0.0,2959240,2311050,1027940,2068060,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,20p,80_100p,80_100p,20_40p,20p,20p,20_40p,60세이상,경기 김포시,77.44,22.56

In [10]:
count = pd.read_csv('dataset/class_counts.csv')
count.head()

   Unnamed: 0  CUST_NO      1      2      3      4      5      고      저      중
0           0        1  247.0  100.0   68.0  115.0  118.0  325.0  183.0  140.0
1           1        2  378.0  103.0   57.0   91.0   82.0  455.0  148.0  108.0
2           2        3   32.0   35.0   43.0   78.0  840.0   58.0  887.0   83.0
3           3        4  158.0  111.0  111.0  172.0  164.0  237.0  274.0  205.0
4           4        5  181.0  160.0   75.0  105.0  113.0  284.0  184.0  166.0

In [20]:
df.sort_values(by=['CUST_NO'], axis = 0, inplace = True)
# count.sort_values(by=['CUST_NO'], axis = 0, inplace = True)

In [21]:
df

,Unnamed: 0,CUST_NO,GENDER,AREA,SHOP_A_CNT,SHOP_B_CNT,SHOP_C_CNT,RECEIPT_CNT,STORE_CNT,AM_CNT,PM_CNT,OT_CNT,AM_AMT,PM_AMT,OT_AMT,Q1401_AMT,Q1402_AMT,Q1403_AMT,Q1404_AMT,Q1501_AMT,Q1502_AMT,Q1503_AMT,Q1504_AMT,Y14_AMT,Y15_AMT,주류_CNT,육류_CNT,간식류_CNT,건강식품_CNT,농산물_CNT,수산물_CNT,식사류반찬_CNT,음료_CNT,Alcohol_AMT,Meat_AMT,Snack_AMT,Health_AMT,FarmF_AMT,SeaF_AMT,SideF_AMT,Drink_AMT,COMPETITOR,MEMBERSHIP,ON_LINE,MOBILE,TOTAL_AMT,AGE_CAT,TOTAL_AMT_CAT,AM_PM_AMT,AM_PCT,PM_PCT,SHOP_T_A,SHOP_T_B,SHOP_T_C,14_15_Q1,14_15_Q2,14_15_Q3,14_15_Q4,14_15_T1,14_15_T2,14_15_T3,14_15_T4,CAT_T주류,CAT_T육류,CAT_T간식류,CAT_T건강식품,CAT_T농산물,CAT_T수산물,CAT_T식사류반찬,CAT_T음료,Alcohol_AMT_CAT,Meat_AMT_CAT,Snack_AMT_CAT,Health_AMT_CAT,FarmF_AMT_CAT,SeaF_AMT_CAT,SideF_AMT_CAT,Drink_AMT_CAT,AGE,ADDR,AMP_PCT,PMP_PCT
0,0,1,M,2,506,44,101,326,9,402,249,0,7999193,3896727,0,1765020,2982185,1182800,1905392,1747845,1153940,584270,574468,7835397,4060523,10,32,221,9,210,49,75,42,263750,684741,3246090,3084870,2502759,871740,725300,448970,1,0,0,0,11895920,60s이상,80_100퍼구매금액군,1,61.75,38.25,1.0,0.0,0.0,3512865,4136125,1767070,2479860,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,40_60p,80_100p,80_100p,60_80p,20p,60_80p,40_60p,60세이상,서울 강남구,67.24,32.76
1,1,2,M,1,711,0,0,346,2,529,182,0,11786840,3175020,0,2907240,2446790,1844100,1835670,1903230,940500,1352190,1732140,9033800,5928060,26,44,162,3,358,43,51,24,152440,884510,2711870,354750,7559400,1782520,865770,650600,1,0,0,0,14961860,60s이상,80_100퍼구매금액군,1,74.40,25.60,1.0,0.0,0.0,4810470,3387290,3196290,3567810,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,40_60p,40_60p,80_100p,60_80p,80_100p,40_60p,60_80p,40_60p,60세이상,경기 김포시,78.78,21.22
2,2,3,M,2,0,1,1027,468,3,971,57,0,2649181,151846,0,302182,446083,573288,332446,255880,282380,364157,244611,1653999,1147028,483,15,97,0,184,31,55,163,687620,107945,273750,0,706792,212790,255880,556250,0,0,0,0,2801027,60s이상,20퍼구매금액군,1,94.46,5.54,0.0,0.0,1.0,558062,728463,937445,577057,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,80_100p,20p,20p,20p,20p,20p,20_40p,40_60p,60세이상,서울 은평구,94.58,5.42
3,3,4,F,2,498,91,127,383,4,533,183,0,4253139,1506441,0,597753,1016133,497890,363920,926382,878445,703252,775805,2475696,3283884,7,26,210,8,285,14,112,54,31140,307526,1800600,173900,1942124,115900,1084660,303730,1,0,0,0,5759580,60s이상,20_40퍼구매금액군,1,74.44,25.56,1.0,0.0,0.0,1524135,1894578,1201142,1139725,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,40_60p,60_80p,60_80p,20p,60_80p,20_40p,60세이상,서울 노원구,73.84,26.16
4,4,5,M,1,633,1,0,368,2,441,193,0,6478630,1887660,0,1787460,1508600,1027940,398440,1171780,802450,0,1669620,4722440,3643850,28,9,320,17,206,25,3,26,276290,168850,3660700,2277230,1230530,350740,63750,338200,0,0,0,0,8366290,60s이상,60_80퍼구매금액군,1,69.56,30.44,1.0,0.0,0.0,2959240,2311050,1027940,2068060,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,20p,80_100p,80_100p,20_40p,20p,20p,20_40p,60세이상,경기 김포시,77.44,22.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19372,19372,19379,F,2,9,6,20,18,3,14,21,0,69200,164720,0,0,0,0,20000,51600,50790,2980,108550,20000,213920,0,1,15,0,14,4,1,0,0,1490,180030,0,36330,13980,2090,0,0,1,0,0,233920,20s,20퍼구매금액군,0,40.00,60.00,0.0,0.0,1.0,51600,50790,2980,128550,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,20세~24세,서울 동작구,29.58,70.42
19373,19373,19380,F,2,2,6,38,16,5,13,33,0,58810,120197,0,0,0,0,0,0,1280,71437,106290,0,179007,0,1,16,0,11,1,1,16,0,25267,69580,0,48780,5980,6320,23080,0,1,0,0,179007,20s,20퍼구매금액군,0,28.26,71.74,0.0,0.0,1.0,0,1280,71437,106290,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,20세~24세,서울 마포구,32.85,67.15
19374,19374,19381,F,4,1,674,8,332,4,68,615,0,590241,4065238,0,0,0,0,0,628530,1421521,1509901,1095527,0,4655479,2,71,131,7,182,59,98,133,3120,1175010,553170,490380,947655,442889,465455,577800,0,1,0,1,4655479,40s,20_40퍼구매금액군,0,9.96,90.04,0.0,1.0,0.0,628530,1421521,1509901,1095527,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,20p,60_80p,20p,80_100p,20_40p,20p,40_60p,40_60p,40세~44세,부산,12.68,87.32
19375,19375,19382,F,4,1,784,2,380,4,87,700,0,483196,3167157,0,0,0,0,0,624299,828190,1052727,1145137,0,3650353,15,47,204,2,270,36,147,66,31350,550637,794110,144000,1044210,184056,662620,239370,0,0,0,1,3650353,40s,20퍼구매금액군,0,11.05,88.95,0.0,1.0,0.0,624299,828190,1052727,1145137,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,20p,60_80p,20_40p,20p,40_60p,20_40p,45세~49세,부산,13.24,86.76
19376,19376,19383,F,10,4,15,2,9,6,4,17,0,56800,53990,0,0,0,0,0,0,0,83990,26800,0,110790,2,0,7,0,0,0,6,6,8600,0,57760,0,0,0,24320,20110,0,1,0,0,110790,20s,20퍼구매금액군,1,19.05,80.95,0.0,1.0,0.0,0,0,83990,26800,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,25세~29세,경남,51.27,48.73

In [32]:
count

           1      2      3      4      5      고      저      중
0      247.0  100.0   68.0  115.0  118.0  325.0  183.0  140.0
1      378.0  103.0   57.0   91.0   82.0  455.0  148.0  108.0
2       32.0   35.0   43.0   78.0  840.0   58.0  887.0   83.0
3      158.0  111.0  111.0  172.0  164.0  237.0  274.0  205.0
4      181.0  160.0   75.0  105.0  113.0  284.0  184.0  166.0
...      ...    ...    ...    ...    ...    ...    ...    ...
19372    8.0    1.0    1.0    9.0   16.0    8.0   25.0    2.0
19373    5.0    2.0    2.0    4.0   33.0    7.0   34.0    5.0
19374   66.0   76.0   97.0  154.0  290.0  111.0  394.0  178.0
19375   43.0   54.0   71.0  167.0  452.0   77.0  565.0  145.0
19376    2.0    2.0    3.0    3.0   11.0    4.0   13.0    4.0

[19377 rows x 8 columns]

# 필요없는 컬럼 정리

# + 5등급(1,2,3,4,5) vs 3등급(고가,중가,저가) Linear Regression으로 비교하기

In [2]:
avg = pd.read_csv('dataset/class_avg.csv')
avg

,CUST_NO,간식류,건강식품,농산물,수산물,식사류/반찬,육류,음료,주류
0,1,2.298643,1.111111,2.876190,2.551020,2.946667,2.875000,2.904762,1.900000
1,2,2.376543,1.666667,1.977654,1.372093,1.529412,3.000000,2.125000,4.269231
2,3,4.587629,NaN,4.407609,3.774194,3.909091,3.933333,4.496933,4.892340
3,4,2.795238,2.875000,3.526316,3.785714,2.089286,3.269231,3.759259,4.428571
4,5,2.168750,1.529412,3.548544,2.760000,2.666667,2.222222,2.115385,3.857143
...,...,...,...,...,...,...,...,...,...
19372,19379,2.333333,NaN,4.642857,4.750000,5.000000,5.000000,NaN,NaN
19373,19380,4.000000,NaN,4.000000,4.000000,3.000000,1.000000,5.000000,NaN
19374,19381,4.068702,2.714286,3.895604,3.711864,3.724490,2.732394,3.954887,5.000000
19375,19382,4.313725,1.500000,4.307407,4.361111,3.836735,3.574468,4.287879,4.933333
19376,19383,3.428571,NaN,NaN,NaN,3.833333,NaN,4.500000,4.000000

In [3]:
avg.fillna(0,inplace=True)

In [4]:
avg

,CUST_NO,간식류,건강식품,농산물,수산물,식사류/반찬,육류,음료,주류
0,1,2.298643,1.111111,2.876190,2.551020,2.946667,2.875000,2.904762,1.900000
1,2,2.376543,1.666667,1.977654,1.372093,1.529412,3.000000,2.125000,4.269231
2,3,4.587629,0.000000,4.407609,3.774194,3.909091,3.933333,4.496933,4.892340
3,4,2.795238,2.875000,3.526316,3.785714,2.089286,3.269231,3.759259,4.428571
4,5,2.168750,1.529412,3.548544,2.760000,2.666667,2.222222,2.115385,3.857143
...,...,...,...,...,...,...,...,...,...
19372,19379,2.333333,0.000000,4.642857,4.750000,5.000000,5.000000,0.000000,0.000000
19373,19380,4.000000,0.000000,4.000000,4.000000,3.000000,1.000000,5.000000,0.000000
19374,19381,4.068702,2.714286,3.895604,3.711864,3.724490,2.732394,3.954887,5.000000
19375,19382,4.313725,1.500000,4.307407,4.361111,3.836735,3.574468,4.287879,4.933333
19376,19383,3.428571,0.000000,0.000000,0.000000,3.833333,0.000000,4.500000,4.000000

In [5]:
avg = avg.applymap(lambda x: np.round(x))

In [6]:
avg

       CUST_NO  간식류  건강식품  농산물  수산물  식사류/반찬   육류   음료   주류
0            1  2.0   1.0  3.0  3.0     3.0  3.0  3.0  2.0
1            2  2.0   2.0  2.0  1.0     2.0  3.0  2.0  4.0
2            3  5.0   0.0  4.0  4.0     4.0  4.0  4.0  5.0
3            4  3.0   3.0  4.0  4.0     2.0  3.0  4.0  4.0
4            5  2.0   2.0  4.0  3.0     3.0  2.0  2.0  4.0
...        ...  ...   ...  ...  ...     ...  ...  ...  ...
19372    19379  2.0   0.0  5.0  5.0     5.0  5.0  0.0  0.0
19373    19380  4.0   0.0  4.0  4.0     3.0  1.0  5.0  0.0
19374    19381  4.0   3.0  4.0  4.0     4.0  3.0  4.0  5.0
19375    19382  4.0   2.0  4.0  4.0     4.0  4.0  4.0  5.0
19376    19383  3.0   0.0  0.0  0.0     4.0  0.0  4.0  4.0

[19377 rows x 9 columns]

In [7]:
def reverse(x):
    if x == 1:
        return 5
    elif x == 2:
        return 4
    elif x == 4:
        return 2
    elif x == 5:
        return 1
    else:
        return x

In [8]:
avg['간식류'] = avg['간식류'].apply(lambda x: reverse(x))

In [10]:
avg['건강식품'] = avg['건강식품'].apply(lambda x: reverse(x))

In [11]:
avg['농산물'] = avg['농산물'].apply(lambda x: reverse(x))

In [12]:
avg['수산물'] = avg['수산물'].apply(lambda x: reverse(x))

In [13]:
avg['식사류/반찬'] = avg['식사류/반찬'].apply(lambda x: reverse(x))

In [14]:
avg['육류'] = avg['육류'].apply(lambda x: reverse(x))

In [15]:
avg['음료'] = avg['음료'].apply(lambda x: reverse(x))

In [16]:
avg['주류'] = avg['주류'].apply(lambda x: reverse(x))

In [31]:
avg

       간식류  건강식품  농산물  수산물  식사류/반찬   육류   음료   주류
0      4.0   5.0  3.0  3.0     3.0  3.0  3.0  4.0
1      4.0   4.0  4.0  5.0     4.0  3.0  4.0  2.0
2      1.0   0.0  2.0  2.0     2.0  2.0  2.0  1.0
3      3.0   3.0  2.0  2.0     4.0  3.0  2.0  2.0
4      4.0   4.0  2.0  3.0     3.0  4.0  4.0  2.0
...    ...   ...  ...  ...     ...  ...  ...  ...
19372  4.0   0.0  1.0  1.0     1.0  1.0  0.0  0.0
19373  2.0   0.0  2.0  2.0     3.0  5.0  1.0  0.0
19374  2.0   3.0  2.0  2.0     2.0  3.0  2.0  1.0
19375  2.0   4.0  2.0  2.0     2.0  2.0  2.0  1.0
19376  3.0   0.0  0.0  0.0     2.0  0.0  2.0  2.0

[19377 rows x 8 columns]

In [32]:
avg.to_csv('dataset/reverse_class_5', encoding='utf-8-sig')

In [18]:
avg.drop('CUST_NO',axis=1,inplace=True)

In [14]:
# count.drop(['Unnamed: 0','CUST_NO'],axis=1,inplace=True)

In [16]:
count_5 = count.drop(['고','저','중'],axis=1)

In [17]:
count_3 = count.drop(['1','2','3','4','5'],axis=1)

In [25]:
# 필요없는 칼럼 제거
df1 = df.drop(['CUST_NO','AM_AMT', 'PM_AMT', 'OT_AMT', 'Q1401_AMT', 'Q1402_AMT', 'Q1403_AMT',
       'Q1404_AMT', 'Q1501_AMT', 'Q1502_AMT', 'Q1503_AMT', 'Q1504_AMT',
       'Y14_AMT','Y15_AMT','14_15_Q1','14_15_Q2', '14_15_Q3', '14_15_Q4'],axis=1)

KeyError: "['CUST_NO' 'AM_AMT' 'PM_AMT' 'OT_AMT' 'Q1401_AMT' 'Q1402_AMT' 'Q1403_AMT'\n 'Q1404_AMT' 'Q1501_AMT' 'Q1502_AMT' 'Q1503_AMT' 'Q1504_AMT' 'Y14_AMT'\n 'Y15_AMT' '14_15_Q1' '14_15_Q2' '14_15_Q3' '14_15_Q4'] not found in axis"

In [26]:
df1

,Unnamed: 0,GENDER,AREA,SHOP_A_CNT,SHOP_B_CNT,SHOP_C_CNT,RECEIPT_CNT,STORE_CNT,AM_CNT,PM_CNT,OT_CNT,주류_CNT,육류_CNT,간식류_CNT,건강식품_CNT,농산물_CNT,수산물_CNT,식사류반찬_CNT,음료_CNT,Alcohol_AMT,Meat_AMT,Snack_AMT,Health_AMT,FarmF_AMT,SeaF_AMT,SideF_AMT,Drink_AMT,COMPETITOR,MEMBERSHIP,ON_LINE,MOBILE,TOTAL_AMT,AGE_CAT,TOTAL_AMT_CAT,AM_PM_AMT,AM_PCT,PM_PCT,SHOP_T_A,SHOP_T_B,SHOP_T_C,14_15_T1,14_15_T2,14_15_T3,14_15_T4,CAT_T주류,CAT_T육류,CAT_T간식류,CAT_T건강식품,CAT_T농산물,CAT_T수산물,CAT_T식사류반찬,CAT_T음료,Alcohol_AMT_CAT,Meat_AMT_CAT,Snack_AMT_CAT,Health_AMT_CAT,FarmF_AMT_CAT,SeaF_AMT_CAT,SideF_AMT_CAT,Drink_AMT_CAT,AGE,ADDR,AMP_PCT,PMP_PCT
0,0,M,2,506,44,101,326,9,402,249,0,10,32,221,9,210,49,75,42,263750,684741,3246090,3084870,2502759,871740,725300,448970,1,0,0,0,11895920,60s이상,80_100퍼구매금액군,1,61.75,38.25,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,40_60p,80_100p,80_100p,60_80p,20p,60_80p,40_60p,60세이상,서울 강남구,67.24,32.76
1,1,M,1,711,0,0,346,2,529,182,0,26,44,162,3,358,43,51,24,152440,884510,2711870,354750,7559400,1782520,865770,650600,1,0,0,0,14961860,60s이상,80_100퍼구매금액군,1,74.40,25.60,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,40_60p,40_60p,80_100p,60_80p,80_100p,40_60p,60_80p,40_60p,60세이상,경기 김포시,78.78,21.22
2,2,M,2,0,1,1027,468,3,971,57,0,483,15,97,0,184,31,55,163,687620,107945,273750,0,706792,212790,255880,556250,0,0,0,0,2801027,60s이상,20퍼구매금액군,1,94.46,5.54,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,80_100p,20p,20p,20p,20p,20p,20_40p,40_60p,60세이상,서울 은평구,94.58,5.42
3,3,F,2,498,91,127,383,4,533,183,0,7,26,210,8,285,14,112,54,31140,307526,1800600,173900,1942124,115900,1084660,303730,1,0,0,0,5759580,60s이상,20_40퍼구매금액군,1,74.44,25.56,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,40_60p,60_80p,60_80p,20p,60_80p,20_40p,60세이상,서울 노원구,73.84,26.16
4,4,M,1,633,1,0,368,2,441,193,0,28,9,320,17,206,25,3,26,276290,168850,3660700,2277230,1230530,350740,63750,338200,0,0,0,0,8366290,60s이상,60_80퍼구매금액군,1,69.56,30.44,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,20p,80_100p,80_100p,20_40p,20p,20p,20_40p,60세이상,경기 김포시,77.44,22.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19372,19372,F,2,9,6,20,18,3,14,21,0,0,1,15,0,14,4,1,0,0,1490,180030,0,36330,13980,2090,0,0,1,0,0,233920,20s,20퍼구매금액군,0,40.00,60.00,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,20세~24세,서울 동작구,29.58,70.42
19373,19373,F,2,2,6,38,16,5,13,33,0,0,1,16,0,11,1,1,16,0,25267,69580,0,48780,5980,6320,23080,0,1,0,0,179007,20s,20퍼구매금액군,0,28.26,71.74,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,20세~24세,서울 마포구,32.85,67.15
19374,19374,F,4,1,674,8,332,4,68,615,0,2,71,131,7,182,59,98,133,3120,1175010,553170,490380,947655,442889,465455,577800,0,1,0,1,4655479,40s,20_40퍼구매금액군,0,9.96,90.04,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,20p,60_80p,20p,80_100p,20_40p,20p,40_60p,40_60p,40세~44세,부산,12.68,87.32
19375,19375,F,4,1,784,2,380,4,87,700,0,15,47,204,2,270,36,147,66,31350,550637,794110,144000,1044210,184056,662620,239370,0,0,0,1,3650353,40s,20퍼구매금액군,0,11.05,88.95,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,20p,60_80p,20_40p,20p,40_60p,20_40p,45세~49세,부산,13.24,86.76
19376,19376,F,10,4,15,2,9,6,4,17,0,2,0,7,0,0,0,6,6,8600,0,57760,0,0,0,24320,20110,0,1,0,0,110790,20s,20퍼구매금액군,1,19.05,80.95,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,25세~29세,경남,51.27,48.73

In [28]:
df = pd.concat([df1, avg], axis = 1)
df.head()

,Unnamed: 0,GENDER,AREA,SHOP_A_CNT,SHOP_B_CNT,SHOP_C_CNT,RECEIPT_CNT,STORE_CNT,AM_CNT,PM_CNT,OT_CNT,주류_CNT,육류_CNT,간식류_CNT,건강식품_CNT,농산물_CNT,수산물_CNT,식사류반찬_CNT,음료_CNT,Alcohol_AMT,Meat_AMT,Snack_AMT,Health_AMT,FarmF_AMT,SeaF_AMT,SideF_AMT,Drink_AMT,COMPETITOR,MEMBERSHIP,ON_LINE,MOBILE,TOTAL_AMT,AGE_CAT,TOTAL_AMT_CAT,AM_PM_AMT,AM_PCT,PM_PCT,SHOP_T_A,SHOP_T_B,SHOP_T_C,14_15_T1,14_15_T2,14_15_T3,14_15_T4,CAT_T주류,CAT_T육류,CAT_T간식류,CAT_T건강식품,CAT_T농산물,CAT_T수산물,CAT_T식사류반찬,CAT_T음료,Alcohol_AMT_CAT,Meat_AMT_CAT,Snack_AMT_CAT,Health_AMT_CAT,FarmF_AMT_CAT,SeaF_AMT_CAT,SideF_AMT_CAT,Drink_AMT_CAT,AGE,ADDR,AMP_PCT,PMP_PCT,간식류,건강식품,농산물,수산물,식사류/반찬,육류,음료,주류
0,0,M,2,506,44,101,326,9,402,249,0,10,32,221,9,210,49,75,42,263750,684741,3246090,3084870,2502759,871740,725300,448970,1,0,0,0,11895920,60s이상,80_100퍼구매금액군,1,61.75,38.25,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,40_60p,80_100p,80_100p,60_80p,20p,60_80p,40_60p,60세이상,서울 강남구,67.24,32.76,4.0,5.0,3.0,3.0,3.0,3.0,3.0,4.0
1,1,M,1,711,0,0,346,2,529,182,0,26,44,162,3,358,43,51,24,152440,884510,2711870,354750,7559400,1782520,865770,650600,1,0,0,0,14961860,60s이상,80_100퍼구매금액군,1,74.40,25.60,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,40_60p,40_60p,80_100p,60_80p,80_100p,40_60p,60_80p,40_60p,60세이상,경기 김포시,78.78,21.22,4.0,4.0,4.0,5.0,4.0,3.0,4.0,2.0
2,2,M,2,0,1,1027,468,3,971,57,0,483,15,97,0,184,31,55,163,687620,107945,273750,0,706792,212790,255880,556250,0,0,0,0,2801027,60s이상,20퍼구매금액군,1,94.46,5.54,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,80_100p,20p,20p,20p,20p,20p,20_40p,40_60p,60세이상,서울 은평구,94.58,5.42,1.0,0.0,2.0,2.0,2.0,2.0,2.0,1.0
3,3,F,2,498,91,127,383,4,533,183,0,7,26,210,8,285,14,112,54,31140,307526,1800600,173900,1942124,115900,1084660,303730,1,0,0,0,5759580,60s이상,20_40퍼구매금액군,1,74.44,25.56,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,40_60p,60_80p,60_80p,20p,60_80p,20_40p,60세이상,서울 노원구,73.84,26.16,3.0,3.0,2.0,2.0,4.0,3.0,2.0,2.0
4,4,M,1,633,1,0,368,2,441,193,0,28,9,320,17,206,25,3,26,276290,168850,3660700,2277230,1230530,350740,63750,338200,0,0,0,0,8366290,60s이상,60_80퍼구매금액군,1,69.56,30.44,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,20p,80_100p,80_100p,20_40p,20p,20p,20_40p,60세이상,경기 김포시,77.44,22.56,4.0,4.0,2.0,3.0,3.0,4.0,4.0,2.0

In [29]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [34]:
df.to_csv('dataset/class_count_.csv', encoding='utf-8-sig')

In [18]:
df_5 = pd.concat([df, count_5], axis = 1)
df_5

,Unnamed: 0,CUST_NO,GENDER,AREA,SHOP_A_CNT,SHOP_B_CNT,SHOP_C_CNT,RECEIPT_CNT,STORE_CNT,AM_CNT,PM_CNT,OT_CNT,AM_AMT,PM_AMT,OT_AMT,Q1401_AMT,Q1402_AMT,Q1403_AMT,Q1404_AMT,Q1501_AMT,Q1502_AMT,Q1503_AMT,Q1504_AMT,Y14_AMT,Y15_AMT,주류_CNT,육류_CNT,간식류_CNT,건강식품_CNT,농산물_CNT,수산물_CNT,식사류반찬_CNT,음료_CNT,Alcohol_AMT,Meat_AMT,Snack_AMT,Health_AMT,FarmF_AMT,SeaF_AMT,SideF_AMT,Drink_AMT,COMPETITOR,MEMBERSHIP,ON_LINE,MOBILE,TOTAL_AMT,AGE_CAT,TOTAL_AMT_CAT,AM_PM_AMT,AM_PCT,PM_PCT,SHOP_T_A,SHOP_T_B,SHOP_T_C,14_15_Q1,14_15_Q2,14_15_Q3,14_15_Q4,14_15_T1,14_15_T2,14_15_T3,14_15_T4,CAT_T주류,CAT_T육류,CAT_T간식류,CAT_T건강식품,CAT_T농산물,CAT_T수산물,CAT_T식사류반찬,CAT_T음료,Alcohol_AMT_CAT,Meat_AMT_CAT,Snack_AMT_CAT,Health_AMT_CAT,FarmF_AMT_CAT,SeaF_AMT_CAT,SideF_AMT_CAT,Drink_AMT_CAT,AGE,ADDR,AMP_PCT,PMP_PCT,1,2,3,4,5
0,0,1,M,2,506,44,101,326,9,402,249,0,7999193,3896727,0,1765020,2982185,1182800,1905392,1747845,1153940,584270,574468,7835397,4060523,10,32,221,9,210,49,75,42,263750,684741,3246090,3084870,2502759,871740,725300,448970,1,0,0,0,11895920,60s이상,80_100퍼구매금액군,1,61.75,38.25,1.0,0.0,0.0,3512865,4136125,1767070,2479860,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,40_60p,80_100p,80_100p,60_80p,20p,60_80p,40_60p,60세이상,서울 강남구,67.24,32.76,247.0,100.0,68.0,115.0,118.0
1,1,2,M,1,711,0,0,346,2,529,182,0,11786840,3175020,0,2907240,2446790,1844100,1835670,1903230,940500,1352190,1732140,9033800,5928060,26,44,162,3,358,43,51,24,152440,884510,2711870,354750,7559400,1782520,865770,650600,1,0,0,0,14961860,60s이상,80_100퍼구매금액군,1,74.40,25.60,1.0,0.0,0.0,4810470,3387290,3196290,3567810,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,40_60p,40_60p,80_100p,60_80p,80_100p,40_60p,60_80p,40_60p,60세이상,경기 김포시,78.78,21.22,378.0,103.0,57.0,91.0,82.0
2,2,3,M,2,0,1,1027,468,3,971,57,0,2649181,151846,0,302182,446083,573288,332446,255880,282380,364157,244611,1653999,1147028,483,15,97,0,184,31,55,163,687620,107945,273750,0,706792,212790,255880,556250,0,0,0,0,2801027,60s이상,20퍼구매금액군,1,94.46,5.54,0.0,0.0,1.0,558062,728463,937445,577057,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,80_100p,20p,20p,20p,20p,20p,20_40p,40_60p,60세이상,서울 은평구,94.58,5.42,32.0,35.0,43.0,78.0,840.0
3,3,4,F,2,498,91,127,383,4,533,183,0,4253139,1506441,0,597753,1016133,497890,363920,926382,878445,703252,775805,2475696,3283884,7,26,210,8,285,14,112,54,31140,307526,1800600,173900,1942124,115900,1084660,303730,1,0,0,0,5759580,60s이상,20_40퍼구매금액군,1,74.44,25.56,1.0,0.0,0.0,1524135,1894578,1201142,1139725,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,40_60p,60_80p,60_80p,20p,60_80p,20_40p,60세이상,서울 노원구,73.84,26.16,158.0,111.0,111.0,172.0,164.0
4,4,5,M,1,633,1,0,368,2,441,193,0,6478630,1887660,0,1787460,1508600,1027940,398440,1171780,802450,0,1669620,4722440,3643850,28,9,320,17,206,25,3,26,276290,168850,3660700,2277230,1230530,350740,63750,338200,0,0,0,0,8366290,60s이상,60_80퍼구매금액군,1,69.56,30.44,1.0,0.0,0.0,2959240,2311050,1027940,2068060,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,20p,80_100p,80_100p,20_40p,20p,20p,20_40p,60세이상,경기 김포시,77.44,22.56,181.0,160.0,75.0,105.0,113.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19372,19372,19379,F,2,9,6,20,18,3,14,21,0,69200,164720,0,0,0,0,20000,51600,50790,2980,108550,20000,213920,0,1,15,0,14,4,1,0,0,1490,180030,0,36330,13980,2090,0,0,1,0,0,233920,20s,20퍼구매금액군,0,40.00,60.00,0.0,0.0,1.0,51600,50790,2980,128550,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,20세~24세,서울 동작구,29.58,70.42,8.0,1.0,1.0,9.0,16.0
19373,19373,19380,F,2,2,6,38,16,5,13,33,0,58810,120197,0,0,0,0,0,0,1280,71437,106290,0,179007,0,1,16,0,11,1,1,16,0,25267,69580,0,48780,5980,6320,23080,0,1,0,0,179007,20s,20퍼구매금액군,0,28.26,71.74,0.0,0.0,1.0,0,1280,71437,106290,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,20세~24세,서울 마포구,32.85,67.15,5.0,2.0,2.0,4.0,33.0
19374,19374,19381,F,4,1,674,8,332,4,68,615,0,590241,4065238,0,0,0,0,0,628530,1421521,1509901,1095527,0,4655479,2,71,131,7,182,59,98,133,3120,1175010,553170,490380,947655,442889,465455,577800,0,1,0,1,4655479,40s,20_40퍼구매금액군,0,9.96,90.04,0.0,1.0,0.0,628530,1421521,1509901,1095527,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,20p,60_80p,20p,80_100p,20_40p,20p,40_60p,40_60p,40세~44세,부산,12.68,87.32,66.0,76.0,97.0,154.0,290.0
19375,19375,19382,F,4,1,784,2,380,4,87,700,0,483196,3167157,0,0,0,0,0,624299,828190,1052727,1145137,0,3650353,15,47,204,2,270,36,147,66,31350,550637,794110,144000,1044210,184056,662620,239370,0,0,0,1,3650353,40s,20퍼구매금액군,0,11.05,88.95,0.0,1.0,0.0,624299,828190,1052727,1145137,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,20p,60_80p,20_40p,20p,40_60p,20_40p,45세~49세,부산,13.24,86.76,43.0,54.0,71.0,167.0,452.0
19376,19376,19383,F,10,4,15,2,9,6,4,17,0,56800,53990,0,0,0,0,0,0,0,83990,26800,0,110790,2,0,7,0,0,0,6,6,8600,0,57760,0,0,0,24320,20110,0,1,0,0,110790,20s,20퍼구매금액군,1,19.05,80.95,0.0,1.0,0.0,0,0,83990,26800,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,25세~29세,경남,51.27,48.73,2.0,2.0,3.0,3.0,11.0

In [19]:
df_3 = pd.concat([df, count_3], axis = 1)
df_3

,Unnamed: 0,CUST_NO,GENDER,AREA,SHOP_A_CNT,SHOP_B_CNT,SHOP_C_CNT,RECEIPT_CNT,STORE_CNT,AM_CNT,PM_CNT,OT_CNT,AM_AMT,PM_AMT,OT_AMT,Q1401_AMT,Q1402_AMT,Q1403_AMT,Q1404_AMT,Q1501_AMT,Q1502_AMT,Q1503_AMT,Q1504_AMT,Y14_AMT,Y15_AMT,주류_CNT,육류_CNT,간식류_CNT,건강식품_CNT,농산물_CNT,수산물_CNT,식사류반찬_CNT,음료_CNT,Alcohol_AMT,Meat_AMT,Snack_AMT,Health_AMT,FarmF_AMT,SeaF_AMT,SideF_AMT,Drink_AMT,COMPETITOR,MEMBERSHIP,ON_LINE,MOBILE,TOTAL_AMT,AGE_CAT,TOTAL_AMT_CAT,AM_PM_AMT,AM_PCT,PM_PCT,SHOP_T_A,SHOP_T_B,SHOP_T_C,14_15_Q1,14_15_Q2,14_15_Q3,14_15_Q4,14_15_T1,14_15_T2,14_15_T3,14_15_T4,CAT_T주류,CAT_T육류,CAT_T간식류,CAT_T건강식품,CAT_T농산물,CAT_T수산물,CAT_T식사류반찬,CAT_T음료,Alcohol_AMT_CAT,Meat_AMT_CAT,Snack_AMT_CAT,Health_AMT_CAT,FarmF_AMT_CAT,SeaF_AMT_CAT,SideF_AMT_CAT,Drink_AMT_CAT,AGE,ADDR,AMP_PCT,PMP_PCT,고,저,중
0,0,1,M,2,506,44,101,326,9,402,249,0,7999193,3896727,0,1765020,2982185,1182800,1905392,1747845,1153940,584270,574468,7835397,4060523,10,32,221,9,210,49,75,42,263750,684741,3246090,3084870,2502759,871740,725300,448970,1,0,0,0,11895920,60s이상,80_100퍼구매금액군,1,61.75,38.25,1.0,0.0,0.0,3512865,4136125,1767070,2479860,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,40_60p,80_100p,80_100p,60_80p,20p,60_80p,40_60p,60세이상,서울 강남구,67.24,32.76,325.0,183.0,140.0
1,1,2,M,1,711,0,0,346,2,529,182,0,11786840,3175020,0,2907240,2446790,1844100,1835670,1903230,940500,1352190,1732140,9033800,5928060,26,44,162,3,358,43,51,24,152440,884510,2711870,354750,7559400,1782520,865770,650600,1,0,0,0,14961860,60s이상,80_100퍼구매금액군,1,74.40,25.60,1.0,0.0,0.0,4810470,3387290,3196290,3567810,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,40_60p,40_60p,80_100p,60_80p,80_100p,40_60p,60_80p,40_60p,60세이상,경기 김포시,78.78,21.22,455.0,148.0,108.0
2,2,3,M,2,0,1,1027,468,3,971,57,0,2649181,151846,0,302182,446083,573288,332446,255880,282380,364157,244611,1653999,1147028,483,15,97,0,184,31,55,163,687620,107945,273750,0,706792,212790,255880,556250,0,0,0,0,2801027,60s이상,20퍼구매금액군,1,94.46,5.54,0.0,0.0,1.0,558062,728463,937445,577057,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,80_100p,20p,20p,20p,20p,20p,20_40p,40_60p,60세이상,서울 은평구,94.58,5.42,58.0,887.0,83.0
3,3,4,F,2,498,91,127,383,4,533,183,0,4253139,1506441,0,597753,1016133,497890,363920,926382,878445,703252,775805,2475696,3283884,7,26,210,8,285,14,112,54,31140,307526,1800600,173900,1942124,115900,1084660,303730,1,0,0,0,5759580,60s이상,20_40퍼구매금액군,1,74.44,25.56,1.0,0.0,0.0,1524135,1894578,1201142,1139725,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,40_60p,60_80p,60_80p,20p,60_80p,20_40p,60세이상,서울 노원구,73.84,26.16,237.0,274.0,205.0
4,4,5,M,1,633,1,0,368,2,441,193,0,6478630,1887660,0,1787460,1508600,1027940,398440,1171780,802450,0,1669620,4722440,3643850,28,9,320,17,206,25,3,26,276290,168850,3660700,2277230,1230530,350740,63750,338200,0,0,0,0,8366290,60s이상,60_80퍼구매금액군,1,69.56,30.44,1.0,0.0,0.0,2959240,2311050,1027940,2068060,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,60_80p,20p,80_100p,80_100p,20_40p,20p,20p,20_40p,60세이상,경기 김포시,77.44,22.56,284.0,184.0,166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19372,19372,19379,F,2,9,6,20,18,3,14,21,0,69200,164720,0,0,0,0,20000,51600,50790,2980,108550,20000,213920,0,1,15,0,14,4,1,0,0,1490,180030,0,36330,13980,2090,0,0,1,0,0,233920,20s,20퍼구매금액군,0,40.00,60.00,0.0,0.0,1.0,51600,50790,2980,128550,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,20세~24세,서울 동작구,29.58,70.42,8.0,25.0,2.0
19373,19373,19380,F,2,2,6,38,16,5,13,33,0,58810,120197,0,0,0,0,0,0,1280,71437,106290,0,179007,0,1,16,0,11,1,1,16,0,25267,69580,0,48780,5980,6320,23080,0,1,0,0,179007,20s,20퍼구매금액군,0,28.26,71.74,0.0,0.0,1.0,0,1280,71437,106290,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,20세~24세,서울 마포구,32.85,67.15,7.0,34.0,5.0
19374,19374,19381,F,4,1,674,8,332,4,68,615,0,590241,4065238,0,0,0,0,0,628530,1421521,1509901,1095527,0,4655479,2,71,131,7,182,59,98,133,3120,1175010,553170,490380,947655,442889,465455,577800,0,1,0,1,4655479,40s,20_40퍼구매금액군,0,9.96,90.04,0.0,1.0,0.0,628530,1421521,1509901,1095527,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,20p,60_80p,20p,80_100p,20_40p,20p,40_60p,40_60p,40세~44세,부산,12.68,87.32,111.0,394.0,178.0
19375,19375,19382,F,4,1,784,2,380,4,87,700,0,483196,3167157,0,0,0,0,0,624299,828190,1052727,1145137,0,3650353,15,47,204,2,270,36,147,66,31350,550637,794110,144000,1044210,184056,662620,239370,0,0,0,1,3650353,40s,20퍼구매금액군,0,11.05,88.95,0.0,1.0,0.0,624299,828190,1052727,1145137,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20p,20_40p,20p,60_80p,20_40p,20p,40_60p,20_40p,45세~49세,부산,13.24,86.76,77.0,565.0,145.0
19376,19376,19383,F,10,4,15,2,9,6,4,17,0,56800,53990,0,0,0,0,0,0,0,83990,26800,0,110790,2,0,7,0,0,0,6,6,8600,0,57760,0,0,0,24320,20110,0,1,0,0,110790,20s,20퍼구매금액군,1,19.05,80.95,0.0,1.0,0.0,0,0,83990,26800,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20p,20p,20p,20p,20p,20p,20p,20p,25세~29세,경남,51.27,48.73,4.0,13.0,4.0

In [30]:
# 종속변수 TOTAL_AMT 로그 변환
original_TOTAL_AMT = df['TOTAL_AMT']
df['TOTAL_AMT'] = np.log1p(df['TOTAL_AMT'])

# Drop 하지 않는 숫자형 Null 칼럼들은 평균값으로 대체
df.fillna(df.mean(),inplace=True)

# Null 값이 있는 피처명과 타입 추출 -> 문자형은 널값 처리가 안되있음
null_column_count = df.isnull().sum()[df.isnull().sum()>0]
print('Null feature type:\n',df.dtypes[null_column_count.index])

Null feature type:
 ADDR    object
dtype: object

In [22]:
# 원핫 인코딩
print('ohe 전 shape:',df_5.shape)
df_5_ohe = pd.get_dummies(df_5)
print('ohe 후 shape:',df_5_ohe.shape)

null_column_count = df_5_ohe.isnull().sum()[df_5_ohe.isnull().sum()>0]
print(df_5_ohe.dtypes[null_column_count.index])

ohe 전 shape: (19377, 87)
ohe 후 shape: (19377, 175)
Series([], dtype: object)

In [23]:
# 리니어 모델 평가
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score

X_features = df_5_ohe[['SHOP_A_CNT', 'SHOP_B_CNT', 'SHOP_C_CNT', 'RECEIPT_CNT',
       'STORE_CNT', 'AM_CNT', 'PM_CNT', 'OT_CNT', '주류_CNT', '육류_CNT',
       '간식류_CNT', '건강식품_CNT', '농산물_CNT', '수산물_CNT', '식사류반찬_CNT', '음료_CNT',
                      '14_15_T1', '14_15_T2', '14_15_T3','14_15_T4',
       'SideF_AMT', 'Drink_AMT', 'COMPETITOR', 'MEMBERSHIP', 'ON_LINE', 'MOBILE',\
                      'AM_PM_AMT','GENDER_F', 'GENDER_M',
       'TOTAL_AMT_CAT_20_40퍼구매금액군', 'TOTAL_AMT_CAT_20퍼구매금액군',
       'TOTAL_AMT_CAT_40_60퍼구매금액군', 'TOTAL_AMT_CAT_60_80퍼구매금액군','TOTAL_AMT_CAT_80_100퍼구매금액군',\
                      'CAT_T주류', 'CAT_T육류', 'CAT_T간식류', 'CAT_T건강식품', 'CAT_T농산물',\
                      'CAT_T수산물', 'CAT_T식사류반찬', 'CAT_T음료','Alcohol_AMT_CAT_20_40p',
       'Alcohol_AMT_CAT_20p', 'Alcohol_AMT_CAT_40_60p',
       'Alcohol_AMT_CAT_60_80p', 'Alcohol_AMT_CAT_80_100p',
       'Meat_AMT_CAT_20_40p', 'Meat_AMT_CAT_20p', 'Meat_AMT_CAT_40_60p',
       'Meat_AMT_CAT_60_80p', 'Meat_AMT_CAT_80_100p', 'Snack_AMT_CAT_20_40p',
       'Snack_AMT_CAT_20p', 'Snack_AMT_CAT_40_60p', 'Snack_AMT_CAT_60_80p',
       'Snack_AMT_CAT_80_100p', 'Health_AMT_CAT_20_40p', 'Health_AMT_CAT_20p',
       'Health_AMT_CAT_40_60p', 'Health_AMT_CAT_60_80p',
       'Health_AMT_CAT_80_100p', 'FarmF_AMT_CAT_20_40p', 'FarmF_AMT_CAT_20p',
       'FarmF_AMT_CAT_40_60p', 'FarmF_AMT_CAT_60_80p', 'FarmF_AMT_CAT_80_100p',
       'SeaF_AMT_CAT_20_40p', 'SeaF_AMT_CAT_20p', 'SeaF_AMT_CAT_40_60p',
       'SeaF_AMT_CAT_60_80p', 'SeaF_AMT_CAT_80_100p', 'SideF_AMT_CAT_20_40p',
       'SideF_AMT_CAT_20p', 'SideF_AMT_CAT_40_60p', 'SideF_AMT_CAT_60_80p',
       'SideF_AMT_CAT_80_100p', 'Drink_AMT_CAT_20_40p', 'Drink_AMT_CAT_20p',
       'Drink_AMT_CAT_40_60p', 'Drink_AMT_CAT_60_80p',
       'Drink_AMT_CAT_80_100p','AGE_CAT_20s', 'AGE_CAT_30s', 'AGE_CAT_40s', 'AGE_CAT_50s',
       'AGE_CAT_60s이상','SHOP_T_A', 'SHOP_T_B',
       'SHOP_T_C','ADDR_강원', 'ADDR_경기 김포시', 'ADDR_경기 하남시', 'ADDR_경남', 'ADDR_경북',
       'ADDR_광주', 'ADDR_대전', 'ADDR_부산', 'ADDR_서울 강남구', 'ADDR_서울 강동구',
       'ADDR_서울 강북구', 'ADDR_서울 강서구', 'ADDR_서울 관악구', 'ADDR_서울 광진구',
       'ADDR_서울 금천구', 'ADDR_서울 노원구', 'ADDR_서울 동대문구', 'ADDR_서울 동작구',
       'ADDR_서울 마포구', 'ADDR_서울 서대문구', 'ADDR_서울 서초구', 'ADDR_서울 성동구',
       'ADDR_서울 성북구', 'ADDR_서울 송파구', 'ADDR_서울 양천구', 'ADDR_서울 영등포구',
       'ADDR_서울 용산구', 'ADDR_서울 은평구', 'ADDR_서울 종로구', 'ADDR_서울 중구',
       'ADDR_서울 중랑구', 'ADDR_세종', 'ADDR_인천', 'ADDR_전남', 'ADDR_전북', 'ADDR_제주',
       'ADDR_충남', 'ADDR_충북','1','2','3','4','5']]
y_target = df_5['TOTAL_AMT'] # 로그 변환 된거임

X_train,X_test,y_train,y_test = train_test_split(X_features,y_target,\
                                                 test_size=0.2,random_state=156)



# Linear Regression OLS로 학습/예측/평가 수행. 
lr = LinearRegression()
lr.fit(X_train ,y_train )
y_preds = lr.predict(X_test)
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)

print('MSLE : {0:.3f} , RMSLE : {1:.3F}'.format(mse , rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_test, y_preds)))

MSLE : 0.155 , RMSLE : 0.393
Variance score : 0.789

## 고가,중가,저가 기준보다 5등급 기준이 더 점수가 높다. 하지만 아직 카테고리별로 등급을 정리한 것이 아니기 때문에 내일 다시 한 번 비교를..

In [25]:
# 종속변수 TOTAL_AMT 로그 변환
original_TOTAL_AMT = df_3['TOTAL_AMT']
df_3['TOTAL_AMT'] = np.log1p(df['TOTAL_AMT'])

# Drop 하지 않는 숫자형 Null 칼럼들은 평균값으로 대체
df_3.fillna(df_3.mean(),inplace=True)

# Null 값이 있는 피처명과 타입 추출 -> 문자형은 널값 처리가 안되있음
null_column_count = df_3.isnull().sum()[df_3.isnull().sum()>0]
print('Null feature type:\n',df_3.dtypes[null_column_count.index])

Null feature type:
 ADDR    object
dtype: object

In [26]:
# 원핫 인코딩
print('ohe 전 shape:',df_3.shape)
df_3_ohe = pd.get_dummies(df_3)
print('ohe 후 shape:',df_3_ohe.shape)

null_column_count = df_3_ohe.isnull().sum()[df_3_ohe.isnull().sum()>0]
print(df_3_ohe.dtypes[null_column_count.index])

ohe 전 shape: (19377, 85)
ohe 후 shape: (19377, 173)
Series([], dtype: object)

In [27]:
# 리니어 모델 평가
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score

X_features = df_3_ohe[['SHOP_A_CNT', 'SHOP_B_CNT', 'SHOP_C_CNT', 'RECEIPT_CNT',
       'STORE_CNT', 'AM_CNT', 'PM_CNT', 'OT_CNT', '주류_CNT', '육류_CNT',
       '간식류_CNT', '건강식품_CNT', '농산물_CNT', '수산물_CNT', '식사류반찬_CNT', '음료_CNT',
                      '14_15_T1', '14_15_T2', '14_15_T3','14_15_T4',
       'SideF_AMT', 'Drink_AMT', 'COMPETITOR', 'MEMBERSHIP', 'ON_LINE', 'MOBILE',\
                      'AM_PM_AMT','GENDER_F', 'GENDER_M',
       'TOTAL_AMT_CAT_20_40퍼구매금액군', 'TOTAL_AMT_CAT_20퍼구매금액군',
       'TOTAL_AMT_CAT_40_60퍼구매금액군', 'TOTAL_AMT_CAT_60_80퍼구매금액군','TOTAL_AMT_CAT_80_100퍼구매금액군',\
                      'CAT_T주류', 'CAT_T육류', 'CAT_T간식류', 'CAT_T건강식품', 'CAT_T농산물',\
                      'CAT_T수산물', 'CAT_T식사류반찬', 'CAT_T음료','Alcohol_AMT_CAT_20_40p',
       'Alcohol_AMT_CAT_20p', 'Alcohol_AMT_CAT_40_60p',
       'Alcohol_AMT_CAT_60_80p', 'Alcohol_AMT_CAT_80_100p',
       'Meat_AMT_CAT_20_40p', 'Meat_AMT_CAT_20p', 'Meat_AMT_CAT_40_60p',
       'Meat_AMT_CAT_60_80p', 'Meat_AMT_CAT_80_100p', 'Snack_AMT_CAT_20_40p',
       'Snack_AMT_CAT_20p', 'Snack_AMT_CAT_40_60p', 'Snack_AMT_CAT_60_80p',
       'Snack_AMT_CAT_80_100p', 'Health_AMT_CAT_20_40p', 'Health_AMT_CAT_20p',
       'Health_AMT_CAT_40_60p', 'Health_AMT_CAT_60_80p',
       'Health_AMT_CAT_80_100p', 'FarmF_AMT_CAT_20_40p', 'FarmF_AMT_CAT_20p',
       'FarmF_AMT_CAT_40_60p', 'FarmF_AMT_CAT_60_80p', 'FarmF_AMT_CAT_80_100p',
       'SeaF_AMT_CAT_20_40p', 'SeaF_AMT_CAT_20p', 'SeaF_AMT_CAT_40_60p',
       'SeaF_AMT_CAT_60_80p', 'SeaF_AMT_CAT_80_100p', 'SideF_AMT_CAT_20_40p',
       'SideF_AMT_CAT_20p', 'SideF_AMT_CAT_40_60p', 'SideF_AMT_CAT_60_80p',
       'SideF_AMT_CAT_80_100p', 'Drink_AMT_CAT_20_40p', 'Drink_AMT_CAT_20p',
       'Drink_AMT_CAT_40_60p', 'Drink_AMT_CAT_60_80p',
       'Drink_AMT_CAT_80_100p','AGE_CAT_20s', 'AGE_CAT_30s', 'AGE_CAT_40s', 'AGE_CAT_50s',
       'AGE_CAT_60s이상','SHOP_T_A', 'SHOP_T_B',
       'SHOP_T_C','ADDR_강원', 'ADDR_경기 김포시', 'ADDR_경기 하남시', 'ADDR_경남', 'ADDR_경북',
       'ADDR_광주', 'ADDR_대전', 'ADDR_부산', 'ADDR_서울 강남구', 'ADDR_서울 강동구',
       'ADDR_서울 강북구', 'ADDR_서울 강서구', 'ADDR_서울 관악구', 'ADDR_서울 광진구',
       'ADDR_서울 금천구', 'ADDR_서울 노원구', 'ADDR_서울 동대문구', 'ADDR_서울 동작구',
       'ADDR_서울 마포구', 'ADDR_서울 서대문구', 'ADDR_서울 서초구', 'ADDR_서울 성동구',
       'ADDR_서울 성북구', 'ADDR_서울 송파구', 'ADDR_서울 양천구', 'ADDR_서울 영등포구',
       'ADDR_서울 용산구', 'ADDR_서울 은평구', 'ADDR_서울 종로구', 'ADDR_서울 중구',
       'ADDR_서울 중랑구', 'ADDR_세종', 'ADDR_인천', 'ADDR_전남', 'ADDR_전북', 'ADDR_제주',
       'ADDR_충남', 'ADDR_충북','고','중','저']]
y_target = df_3['TOTAL_AMT'] # 로그 변환 된거임

X_train,X_test,y_train,y_test = train_test_split(X_features,y_target,\
                                                 test_size=0.2,random_state=156)



# Linear Regression OLS로 학습/예측/평가 수행. 
lr = LinearRegression()
lr.fit(X_train ,y_train )
y_preds = lr.predict(X_test)
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)

print('MSLE : {0:.3f} , RMSLE : {1:.3F}'.format(mse , rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_test, y_preds)))

MSLE : 0.157 , RMSLE : 0.396
Variance score : 0.786