# LMEMBERS 분석


### 종속변수  

- test 종속변수 셋팅: 14년도 (1,2,3,4분기),15년도(1,2,3,4)분기 총 구매금액의 감소 및 증가  (감소0,증가1)
- test 종속변수 범위: 14년도 (1,2,3,4분기),15년도(1,2,3,4)분기 별 1건 이상 구매내역이 있는 고객
- 향후 범주 추가로는 식품군 세분화 해서 구매금액과 구매품목별 포인트로 지수화 해서 0.1~1.0 이런식으로 0,1 이 아닌 피파WAGE식으로하는 방법 논의 예정

### 독립변수

- test 독립변수 설정 시퀸스: 
1. 기본적인 공통 칼럼(제휴사,구매금액,구매내역,지역,채널,구매시간)등등 전처리 후 데이터프레임 제작 (큰 범위로 일단 시각화해서 확인 후 세분화작업)
2. 데이터프레임 정확도 체크후 rmse , importance 확인후 제거 칼럼확인
3. 조원들끼리 상의후 선택된 변수 범주화 그룹, 비선택된 변수들 범주화로 상관관계를 높이거나 파생변수 생성 그룹으로 나눠서 진행.
4. 정확도 체크 및 통계적으로 유의미한 의미를 가진 변수 탐색
5. 선택된 변수들로 통합 데이터프레임 생성.
6. 정확도를 높이기 위한 하이퍼파라미터 튜닝과 스케일링 및 추가 전처리 작업 실행
7. 최종 선택된 데이터 프레임 3가지 머신러닝 알고리즘으로 분석(DecisionTree,Randomforest,LightGBM)

## 1. csv파일 데이터 프레임화

In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:

df = pd.read_csv('dataset/식품분류별_년간구매금액비교.csv',encoding='cp949')

df.head(100)

    CUST_NO SHOP NEW_CAT   SUM_14  CNT_14      SUM_15  CNT_15  SUM_RESULT
0         1    A    가공식품  4818010     150  1859129.48     111           1
1         1    A     농산물  1333860      95   778751.48      66           1
2         1    A     수산물   479900      20   327472.60      15           1
3         1    A      육류   123420      10    66037.92       5           1
4         1    A      음료   229000      13   111940.40      12           1
..      ...  ...     ...      ...     ...         ...     ...         ...
95       10    B      음료     9380       3    71807.84      14           0
96       10    C    가공식품  1714490     416  1464630.96     347           1
97       10    C     농산물  1826374     493  1539322.77     465           1
98       10    C     수산물   885034     116   440938.47      58           1
99       10    C      육류   618350      75   710716.81      81           0

[100 rows x 8 columns]

In [ ]:
import matplotlib
matplotlib.font_manager._rebuild()

In [1]:
# 품목별 매출비중

In [ ]:
# 구매 상품군별 매출비중

In [ ]:
# 구매 제휴사별 판매된 상품군 비중

In [ ]:
# 제휴사별 구매금액 및 건수

In [ ]:
# 제휴사별 건수 별 평균 객단가

In [ ]:
# 히트맵

In [ ]:
# 파생변수 생성 및 추가

In [ ]:
# 1차 데이터 프레임 고정

In [ ]:
# importance 확인

In [ ]:
# 추가 변수 생성 및 확인

In [ ]:
# 예측 모델 3가지

In [ ]:
# 스케일링 및 변수 범주화

In [ ]:
# 2차 데이터 프레임 고정

In [ ]:
# importance 확인

In [ ]:
# 파생변수 추가

In [ ]:
# 최종 데이터 프레임 확정

In [ ]:
# 추가 마케팅 방법 논의