In [1]:
!python -V

Python 3.7.9

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
a = "Hello"
b = "Python"
print(a + " " + b)
a + " " + b

'Hello Python'

In [8]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어
if 3 in [1,2,3,4]: print("3이 있습니다.")

3이 있습니다.

In [9]:
# 숫자(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177
f = 0xABC
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

123
-123
0
1.23
127
2748

In [87]:
# 사칙연산
a = 10
b = 2.3
c = a + b
d = a * b
e = a/b
f = a//b
g = a % b
h = 2**2
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(10//5)
print(10**5)

12.3
23.0
4.347826086956522
4.0
0.8000000000000007
4
2
100000

In [15]:
String = '문자열'
Number = '273'
String + Number

'문자열273'

In [16]:
# 복합대입연산자
number = 100
number += 20
number += 30
number

150

In [ ]:
# -=, *=, /=
# Q. number = 100일 때, 20을 빼고 30을 더하는 연산을 복합연산자를 사용해서 구하세요

In [17]:
number = 100
number -= 20
number += 30
number

110

In [18]:
# 사용자 입력 : input()
input('인사말을 입력하세요>')

인사말을 입력하세요>안녕하세요

'안녕하세요'

In [21]:
# input함수는 무엇을 입력해도 결과는 무조건 문자형
number = input('숫자를 입력하세요>')
print(number)
print(type(number))

숫자를 입력하세요>5
5
<class 'str'>

In [22]:
String_a = input('입력A> ')
String_b = input('입력B> ')
print(String_a + String_b)

입력A> 3
입력B> 3
33

In [28]:
#Q. 문자열을 숫자 자료형으로 변환해서 숫자 연산을 수행하여 6을 출력하세요.

String_a = input('입력A> ')
String_b = input('입력B> ')
String_a = int(String_a)
String_b = int(String_b)
print(String_a + String_b)

입력A> 3
입력B> 3
6

In [29]:
#Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

String_a = input('입력A> ')
String_b = input('입력B> ')
String_a = int(String_a)
String_b = float(String_b)
print(String_a + String_b)

입력A> 3
입력B> 3.3
6.3

In [31]:
a = 52
b = 52.273
a = str(a)
b = str(b)
print(a+b)

5252.273

In [32]:
# 문자열: "", '', ''' '''
p1 = "python's value is great"
#p2 = 'python's value is great'
print(p1)
#print(p2)

python's value is great

In [34]:
s1 = '"python is valuable" he says.'
#s2 = ""python is valuable" he says."
print(s1)
#print(s2)

"python is valuable" he says.

In [35]:
p1 = 'python\'s value is great'
print(p1)

python's value is great

In [36]:
y1 = "Once you study data analysis\nYou need Python"
y2 = '''
Once you study data analysis
You need Python
'''
print(y1)
print(y2)

Once you study data analysis
You need Python

Once you study data analysis
You need Python

In [37]:
# 문자열 연산
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print('=' * 30)

Python is easy to learn
PythonPythonPython
==============================

In [39]:
# 들여쓰기
Id = ['a', 'b', 'c']
if 'a' in Id:
    print('a가 Id에 있습니다.')
else:
    print('a가 Id에 없습니다.')

a가 Id에 있습니다.

In [41]:
# 포멧함수
f1 = '{}{}{}'.format(0,1,2)
print(f1)

012

In [42]:
f2 = '파이썬은 자바보다 {0}배 쉽습니다.'.format(3)
print(f2)

파이썬은 자바보다 3배 쉽습니다.

In [44]:
fd = 12345
f3 = '{:d}'.format(fd)
f4 = '{:10d}'.format(fd)
print(f3)
print(f4)

12345
     12345

In [45]:
ff = 12.3456789
f5 = '{:f}'.format(ff)
f6 = '{:15f}'.format(ff)
f7 = '{:.2f}'.format(ff)
print(f5)
print(f6)
print(f7)

12.345679
      12.345679
12.35

In [46]:
f9 = '{} 선수가 {}등입니다!!!'.format('홍길동', 1)
print(f9)

홍길동 선수가 1등입니다!!!

In [47]:
print('%s 선수가 %d등입니다!!!' %('홍길동', 1))

홍길동 선수가 1등입니다!!!

In [48]:
# 변수와 인자 전달
# 파이썬에서는 a와 b가 같은 객체인 [1, 2, 3]을 가리킨다
a= [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [49]:
# 파이썬에서는 모든 것이 객체가 가능하다.
# 사용자 함수 직접 만들기
# 함수에 객체를 인자로 넘기면 새로운 지역변수가 생성되고, 원래 객체를 복사하지 않고 참조만 한다.
def append_element(some_list, element):
    some_list.append(element)
    
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [51]:
# 자바와 같은 컴파일 언어와는 달리, 파이썬에서는 객체 참조에 타입이 관여하지 않는다.
# 타입을 알아서 정해준다.
a = 5
print(type(a))
a = 'foo'
print(type(a))

<class 'int'>
<class 'str'>

In [54]:
#  is instance 함수 : 자료형 검사
a = 5; b = 4.5
print(isinstance(a, int))

True

In [55]:
# 객체는 일반적으로 속성과 메소드 포함
a = 'foo'
a.capitalize()

'Foo'

In [56]:
# iterator 객체 - 반복 가능한 객체
# 대표적인 iterable type : list, dict, set, str, bytes, tuple, range
# iterator 객체 - 값을 차례대로 꺼낼 수 있는 객체
# iterator는 iterable한 객체를 내장함수 또는 iterable 객체의 메소드로 객체를 생성
# 파이썬 내장함수 iter()를 사용해 iterator 객체를 생성
a = [1, 2, 3]
a_iter = iter(a)
print(type(a_iter))
for i in a:
    print(i, end=' ')

<class 'list_iterator'>
1 2 3

In [57]:
# dir() 내장 함수는 어떤 객체를 인자로 넣어주면 해당 객체가 어떤 변수와 메소드를
# 가지고 있는지 나열
b = {1, 2, 3}
dir(b)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [61]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: #iterable 객체 아님
        return False

In [62]:
print(isiterable('a string'))
print(isiterable([1, 2, 3]))
print(isiterable(5))

True
True
False

In [63]:
# '==' 연산자 vs "is"
# 두 변수가 같은 객체를 가리키고 있는지 검사하려면 'is'예약어 사용
# 두 변수의 값이 같은지 확인은 '=='을 사용
# list는 항상 새로운 파이썬 리스트를 생성하므로 c와 a는 구별됨
# is와 is not은 변수가 None인지 검사 시 사용

a = [1,2,3]
b = a
c = list(a)
print(c)
print(a is b)
print(a is c)
print(a == c)
print(a is None)

[1, 2, 3]
True
False
True
False

In [64]:
# 리스트, 사전, Numpy 배열, 사용자 정의 클래스 등 대부분의 객체는 변경 가능
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
print(a_list)

['foo', 2, (3, 4)]

In [65]:
#TypeError: 'tuple' object does not support item assignment
a_tuple = (3,4,(4,5))
a_tuple[1] = 'four'
print(a_tuple)

TypeError: 'tuple' object does not support item assignment

In [66]:
# list로 변환 후 수정
a = list(a_tuple)
a[1] = 'four'
a

[3, 'four', (4, 5)]

In [67]:
# 파이썬의 문자열은 변경 불가
a = 'this is a string'
a[10] = 'f'
a

TypeError: 'str' object does not support item assignment

In [68]:
# replace 함수 사용하여 수정
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [69]:
# 불리언
True and True
True & False
False or False
False | True

True

In [72]:
# 형변환 함수 : str, bool, int, float
s = '3.14159'
fval = float(s)
bool(fval) #true
bool(0)

False

In [74]:
# 날짜와 시간
import datetime

now = datetime.datetime.now()
now
print(now.year, '년')
print(now.month, '월')
print(now.day, '일')
print(now.hour, '시')
print(now.minute, '분')
print(now.second, '초')

2020 년
12 월
28 일
12 시
36 분
23 초

In [98]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)
print(dt.date())
print(dt.time())

29
30
2011-10-29
20:30:21

In [79]:
# strftime 함수는 datetime을 문자열로 반환
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [80]:
# strptime 함수는 문자열을 datetime으로 변환
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [103]:
dt1 = datetime(2011, 10, 29, 20, 30, 21)
dt2 = datetime(2011, 11, 15, 22, 30, 30)
delta = dt2 - dt1
print(delta, type(delta))

17 days, 2:00:09 <class 'datetime.timedelta'>

In [150]:
#Q. format함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요
# 2020년 7월 19일 10시 22분 36초
import datetime
now = datetime.datetime.now()
now = "{}년 {}월 {}일 {}시 {}분 {}초".format(now.year, now.month, now.day, now.hour, now.minute, now.second)

print(now)

2020년 12월 28일 15시 41분 57초

In [110]:
#현재 시각으로 오전과 오후를 구분하는 프로그램을 작성하세요.
import datetime

t = datetime.datetime.now()
if t.hour < 12:
    print("오전")
else:
    print("오후")

오후

In [105]:
# 제어문
# if, elif, else
x = 5
if x < 0:
    print('It\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

Positive and larger than or equal to 5

Q. 커피 자판기 프로그램
시나리오: 자판기 커피 재고 5잔, 커피 1잔 가격에 300원, 재고 범위 내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
각 Case별 멘트 출력은 상황에 맞게 창작
while, if~elif~else 제어문을 사용하여 작성

In [119]:
leftCoffee = 5
while leftCoffee > 0:
    print("{} coffee left".format(leftCoffee))
    inputMoney = input('insert coins> ')
    inputMoney = int(inputMoney)
    
    if  inputMoney < 300:
        print('Short of money')
    elif inputMoney == 300:
        print('Here is your coffee')
        leftCoffee = leftCoffee - 1
    else:
        print("Here is your coffee and change {}".format(inputMoney - 300))
        leftCoffee = leftCoffee - 1
        
    if leftCoffee == 0:
        print("=" * 10)
        print('Sold out')
        print("=" * 10)
        break

5 coffee left
insert coins> 300
Here is your coffee
4 coffee left
insert coins> 300
Here is your coffee
3 coffee left
insert coins> 300
Here is your coffee
2 coffee left
insert coins> 300
Here is your coffee
1 coffee left
insert coins> 300
Here is your coffee
==========
Sold out
==========

In [121]:
#Q. 현금이 만원 이상 있으면 택시를 타고 그렇지 않으면 버스를 타세요
myMoney = input('가지고 있는 현금>')
myMoney = int(myMoney)

if myMoney < 10000:
    print("버스를 타세요")
else:
    print("택시를 타세요")

가지고 있는 현금>9500
버스를 타세요

In [122]:
a = 5; b = 7
c = 8; d = 4
a < b or c > d

True

In [126]:
#Q. 수입과 지출 금액을 비교해서 수입이 많으면 저축 증가,
#반대이면 부채 증가, 같으면 현상 유지

i = 4000000
e = 5000000
if i > e:
    print("저축 증가")
elif i == e:
    print("현상 유지")
else:
    print("부채 증가")

부채 증가

In [130]:
# for 반복문
numbers = [5, 15, 6, 20, 7, 25]
print(numbers)
for number in numbers:
    print(number, end=" ")

[5, 15, 6, 20, 7, 25]
5 15 6 20 7 25

In [137]:
#Q. A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
#[70, 60, 55, 75, 95, 90, 80 ,80 ,85, 100]
#for문을 사용하여 A 학급의 평균 점수를 구해 보자.

scores = [70, 60, 55, 75, 95, 90, 80 ,80 ,85, 100]
total = 0
for score in scores:
    total += score

print(total/len(scores))

79.0

In [138]:
#리스트 중에서 홀수에만 2를 곱하여 저장하는 다음과 같은 코드가 있다.
#numbers = [1, 2, 3, 4, 5]
#result = []
#for n in numbers:
#    if n % 2 == 1:
#        result.append(n*2)
#위 코드를 리스트 내포(list comprehension)를 사용해서 표현해 보자.

numbers = [1,2,3,4,5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n * 2)
        
print(result)

[2, 6, 10]

In [139]:
#list comprehension
numbers = [1,2,3,4,5]
result = [n * 2 for n in numbers if n % 2 == 1]
result

[2, 6, 10]

In [140]:
#continue
sequence = [1,2,None,4,None,5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
    
print(total)

12

In [143]:
# break
# 4까지의 합 구하기
sequence = [1,2,3,4,5,6,7,8]
total_until_4 = 0
for value in sequence:
    if value>4:
        break;
    total_until_4 += value

total_until_4

10

In [146]:
#for - continue - break
#Q. 1~10 범위의 정수에서 1부터 5까지만 출력

for value in range(1, 11):
    print(value, end=" ")
    if value < 5:
        continue
    else:
        break

1 2 3 4 5

In [147]:
for i in range(4): # <- 0~3까지임
    for j in range(4):
        if j > i:
            break # <- break는 가장 안쪽에 있는 for문만 빠져나간다.
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [151]:
#Q. numbers 리스트에서 15,20,25를 출력하세요. (for문과 if조건 사용 필수)
numbers = [5,15,6,20,7,25]
for i in numbers:
    if i < 10:
        continue
    else:
        print(i, end=" ")

15 20 25

In [155]:
#while문
#while문은 조건을 명시하여 해당 조건이 False가 되거나 break문을 사용해서
#명시적으로 반복을 종료시까지 블록 내의 코드를 실행
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
    
print(total)
print(x)

504
4

In [158]:
#Q. 정수 1부터 n까지 더할 때, 그 합이 1000보다 커지게 되는 n과 합을 구하세요.
i = 1
total = 0
while(i>0):
    if total > 1000:
        break
    total += i
    i = i + 1
    
print('n = {}'.format(i))
print('total = {}'.format(total))

n = 46
total = 1035

In [160]:
#과제. 아래와 같이 출력하는 코딩을 수행하세요.
for i in range(5):
    print("*"*(i+1))

*
**
***
****
*****

In [170]:
#과제. while~continue~break문을 사용해 1부터 100까지의 정수 중 5에서 95까지의
#합을 구하시오.
i = 1
total = 0
while(i > 0):
    i = i + 1
    if i < 5:
        continue
    elif i < 96:
        total += i
    else:
        break
        
print(total)

4550

In [171]:
#과제. while문을 사용해서 1부터 1000까지의 정수 중 3의 배수의 합을 구하세요.
i = 0
total = 0
while (i > -1):
    i += 1
    if i%3 == 0:
        total += i
    elif i > 1000:
        break
    else:
        continue
        
print(total)

166833

In [174]:
#pass는 아무것도 하지 않음을 나타냄
x = 1
if x < 0:
    print('negative')
elif x == 0:
    pass
else:
    print('positive')

positive

In [178]:
# range 함수는 연속된 정수를 넘겨주는 이터레이터를 반환
# start, end, step 값을 지정
r1 = range(10) # 0~9
print(list(r1))
r2 = range(0,20,2) #range(start, end, step)
print(list(r2))
r3 = range(5, 0, -1)
list(r3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[5, 4, 3, 2, 1]

In [180]:
# Q. 0~99999까지의 정수 중에서 3 또는 5의 배수 합계

#total = 0
#for i in range(100000):
#    if i%3 == 0 or i%5 == 0:
#        total += i
#print(total)
#2333216669

r1 = range(0, 100000, 3)
r2 = range(0, 100000, 5)
r3 = range(0, 100000, 15)
t1 = 0; t2 = 0; t3 = 0
for value in r1:
    t1 += value
for value in r2:
    t2 += value
for value in r3:
    t3 += value
t4 = t1 + t2 - t3
print(t4)

2333316668

In [181]:
#삼항 표현식
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

In [184]:
# 자료구조
# 튜플 : 리스트와 비슷한 성질을 가지고 있는 자료형이지만, 요소의 값을 변경할 수  없음
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1, 'a', 'abc', [1,2,3,4,5],['a','b','c'])
#tuple1[0] = 6     <- 에러 발생

def myfunc():
    print("안녕하세요")
    
tuple4 = (1,2,myfunc)
print(tuple4[:2])    #슬라이싱
tuple4[2]()

(1, 2)
안녕하세요